<!DOCTYPE html>
<html>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="assets/images/hero-bg.jpg" alt="">
    </div>
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" routerLink="/">
            <span>Feane</span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
          >
            <span></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/menu">Thực đơn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">Giới thiệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/book">Đặt bàn</a>
              </li>
            </ul>
            <div class="user_option">
              <a routerLink="/login" class="user_link" *ngIf="!userName">
                <i class="fa fa-user" aria-hidden="true"></i>
                Đăng nhập
              </a>
              <a routerLink="/register" class="user_link ms-3" *ngIf="!userName">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Đăng ký
              </a>
              
              <a class="cart_link" routerLink="/cart">
                <i class="fa fa-shopping-cart" style="color: white;" aria-hidden="true"></i>
              </a>  

              <div *ngIf="userName">
                <span class="user_name">Xin chào, {{ userName }}</span>
                <button class="btn btn-danger" (click)="logout()">Đăng xuất</button>
              </div>
            </div>
            
          </div>
        </nav>
      </div>
    </header>
  </div>

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Thực đơn của chúng tôi</h2>
      </div>

      <ul class="filters_menu">
        <li
          *ngFor="let category of categories"
          [class.active]="selectedCategory === category"
          (click)="filterMenu(category)"
        >
          {{ category }}
        </li>
      </ul>

      <form class="search-form" (ngSubmit)="searchMenu()">
        <input
          type="text"
          class="form-control search-input"
          [(ngModel)]="searchTerm"
          name="search"
          placeholder="Tìm kiếm món ăn..."
          (input)="searchMenu()"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>

      <div class="admin-actions" *ngIf="userRole === 'Admin'">
        <a class="btn btn-primary" routerLink="/admin-menu/add">Thêm món ăn</a>
      </div>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all" *ngFor="let item of filteredMenuItems">
            <div class="box">
              <div>
                <div class="img-box">
                  <img [src]="getImageUrl(item)" alt="{{ item.name }}" />
                </div>
                <div class="detail-box">
                  <h5>{{ item.name }}</h5>
                  <p>{{ item.description }}</p>
                  <div class="options">
                    <h6>{{ item.price }} đ</h6>
                    <button
                      class="btn btn-warning"
                      *ngIf="userRole === 'Admin'"
                      [routerLink]="['/edit', item.id]"
                    >
                      Sửa
                    </button>
                    <button
                      class="btn btn-danger"
                      *ngIf="userRole === 'Admin'"
                      (click)="deleteItem(item)"
                    >
                      Xóa
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Liên hệ
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Địa điểm: Chung cư Nguyễn Hoàng B1 thành phố Đà Lạt
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Gọi +84: 0358082764
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Songcam2k3
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Feane
            </a>
            <p>
              Trang web này được thiết kế để giúp thực khách dễ dàng kiểm tra thực đơn yêu thích và tình trạng đặt bàn tại nhà hàng, từ đó lựa chọn và trải nghiệm ẩm thực một cách thuận tiện và nhanh chóng.
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/SongCam2k3" style="text-decoration: none;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/tsc_2003/" style="text-decoration: none;">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.pinterest.com/songcam2k3/" style="text-decoration: none;">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Giờ mở cửa
          </h4>
          <p>
            Hàng ngày
          </p>
          <p>
            10:00 Sáng - 10:00 Tối
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.js"></script>
  <!-- Owl Slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- Isotope JS -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- Nice Select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- Custom JS -->
  <script src="assets/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>
